<header>
    <nav class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i routerLink="/products" class="fas fa-shipping-fast logo">&nbsp;
                <strong>FakeShop</strong>
            </i>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Buscar Produtos">
            </div>
            <span class="fas fa-search search-icon"></span>
        </div>
        <button routerLink="cart" class="btn btn-primary">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
    </nav>
</header>